html,body,p,div{margin:0px;padding:0px;}
body{overflow:hidden;}
button{
	background:#629CE2;
	border:none;
	border-radius:2px;
	cursor:pointer;
	color:#fff;
}
/* main_css */
#bg{
	transition:all 1000ms ease-in;
	transform-origin:50% 20%;
	transform:scale(1);
	width:100%;
	height:100%;
	position:absolute;
	background:url(../img/mainbg.jpg);
}
#bg:hover {
	transition:all 1000ms  ease-out;
	transform:scale(1.1);
}
#container{
	min-width:400px;
	min-height:400px;
	position:absolute;
	top:20%;
	right:22%;
	width:58%;
	height:58%;
	background:rgba(255,255,255,0.5);
	border-radius:5px;
}
#nav{
	width:100%;
	height:15%;
}
#gallery{
	width:400%;
	height:100%;
	transform:translate3d(0px,0px,0px);
	transition: all 400ms ease;
}
.page{
	width:25%;
	height:99%;
	float:left;
}
#page1{background:;}
#page2{background:;}
#page3{background:;}
#content{
	width:100%;
	height:85%;
	overflow:hidden;
}
.bt{
	float:left;
	width:30px;
	height:30px;
	background:#A0A0A0;
	border-radius:25px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	margin-top:2.5%;
}
#bt1{
	margin-left:8%;
}
#process1,#process2{
	width:34%;
	height:5%;
	float:left;
	background:#A0A0A0;
	margin-top:4.2%;
}
#progressbar1,#progressbar2{
	width:0%;
	height:100%;
	background:#629CE2;
}
.btbackground{background:#629CE2;color:#fff;}

/* page1 css */
#page1_left{
	margin-top:4%;
	width:40%;
	height:100%;
	float:left;
}
#page1_right{
	margin-top:4%;
	float:right;
	width:60%;
	height:100%;
}
#addimage{
	width:70%;
	height:40%;
	background:#ddd;
	border:3px solid #fff;
}
#addimagebutton{
	width:70%;
	height:12%;
	color:#fff;
}
#addimage,#page1_left p,#addimagebutton{
	margin-left:20%;
}
#page1_right input,#page1_right button{
	padding-left:4px;
	width:75%;
	margin-left:10%;
	height:12%;
	margin-bottom:8%;
	border:none;
	border-radius:3px;
}
#page1_right input{
	color: #aaa;
}

/* page2 css */
#page2_content{
	width:100%;
	height:70%;
	margin-left:6%;
}
#page2_nav{
	width:100%;
	height:30%;
	margin-left:6%;
}
#page2_content_left{
	width:40%;
	height:100%;
	float:left;
}
#page2_content_left button{
	width:72%;
	height:15%;
	margin-top:5%;
}
#page2_content_right{
	width:60%;
	height:100%;
	float:left;
}
#company_profile{
	width:80%;
	height:77%;
	border-radius:2px;
	border:0px;
	background:#fff;
}
#page2_content_img{
	width:70%;
	height:50%;
	background:#ddd;
	border:3px solid #fff;
}
.page2_nav_pic{
	width:15%;
	height:55%;
	background:#ddd;
	border:3px solid #fff;
	float:left;
	margin-right:2%;
}

/* page3 css */
#page3_text,#page3_form{
	width:65%;
	height:10%;
	margin-left: 24%;
}
#page3_form{
	height:90%;
}
#page3_form  input{
	padding-left:4px;
	width:75%;
	height:12%;
	margin-bottom:4%;
	border:none;
	color: #aaa;
	border-radius:3px;
}
#page3_form  input[type="submit"]{
	color:white;
}
